doctype
html(lang='en')
  head
    meta(charset='utf-8')
    title
  body
    h1 pagando
    form(method='POST')
      script(src='https://www.mercadopago.com.ar/integrations/v1/web-payment-checkout.js' data-preference-id=id)
